html, body{
	height: 100%;
	position: relative;
}

.bg{
	background-color: #efefef;
	width: 100%;
}


.form input{
	background-color: #efefef;
}

.form .box-generate{
	width: 400px;
}

.judul-generate{
	padding-top: 100px;
}

footer{
	border: 1px black;
	margin-top: 70px;
	background-color: white;
}

footer p{
	padding-top: 10px;
}


